
/*  4组圆心互动 id=1 */
@-webkit-keyframes rotate-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes move-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-64px, 0);
        transform: translate(-64px, 0);
    }
    75% {
        -webkit-transform: translate(32px, 0);
        transform: translate(32px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes move-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes move-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-64px, 0);
        transform: translate(-64px, 0);
    }
    75% {
        -webkit-transform: translate(32px, 0);
        transform: translate(32px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.circle-loader {
    display: block;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform-origin: 16px 16px;
    transform-origin: 16px 16px;
    -webkit-animation: rotate-animation 5s infinite;
    animation: rotate-animation 5s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.circle-loader .circle {
    -webkit-animation: move-animation 2.5s infinite;
    animation: move-animation 2.5s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    position: absolute;
    left: 50%;
    top: 50%;
}

.circle-loader .circle-line {
    width: 64px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 0;
    -webkit-transform-origin: 4px 4px;
    transform-origin: 4px 4px;
}

.circle-loader .circle-line:nth-child(0) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.circle-loader .circle-line:nth-child(1) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.circle-loader .circle-line:nth-child(2) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle-loader .circle-line:nth-child(3) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.circle-loader .circle-line .circle:nth-child(1) {
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 4px;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.circle-loader .circle-line .circle:nth-child(2) {
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 8px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.circle-loader .circle-line .circle:nth-child(3) {
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    border-radius: 12px;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.circle-loader .circle-blue {
    background-color: #1f4e5a;
}

.circle-loader .circle-red {
    background-color: #ff5955;
}

.circle-loader .circle-yellow {
    background-color: #ffb265;
}

.circle-loader .circle-green {
    background-color: #00a691;
}

/*  ---------4组圆心互动 id=1 ----------*/



/**    -----------DEBUT VAGUE  id=2-------------*/
#vagueLayer {

    height : 140px;
    width : 150px;
    padding-top : 10px;
    float : left;
    position : relative;
}
#vagueLayer #vagueload {
    color : #886ed7;
    font-family : calibri;
    text-align : center;
    position : absolute;
    top : 42px;
    left :42px;
}
#vague {
    position : absolute;
    top : 82px;
    left : 20px;
}

#vague1 {
    height : 5px;
    width : 5px;
    background-color : #886ed7;
    float : left;
    animation : vague1 2.5s infinite;
    -webkit-animation : vague1 2.5s infinite;
}

@-webkit-keyframes vague1 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

@keyframes vague1 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

#vague2 {
    height : 5px;
    width : 5px;
    background-color : #886ed7;
    float : left;
    margin-left:10px;
    animation : vague2 2.5s infinite;
    -webkit-animation : vague2 2.5s infinite;
    animation-delay : 0.5s;
    -webkit-animation-delay : 0.5s;
}

@-webkit-keyframes vague2 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

@keyframes vague2 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

#vague3 {
    height : 5px;
    width : 5px;
    background-color : #886ed7;
    float : left;
    margin-left:10px;
    animation : vague3 2.5s infinite;
    -webkit-animation : vague3 2.5s infinite;
    animation-delay : 1s;
    -webkit-animation-delay : 1s;
}

@-webkit-keyframes vague3 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

@keyframes vague3 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

#vague4 {
    height : 5px;
    width : 5px;
    background-color : #886ed7;
    float : left;
    margin-left:10px;
    animation : vague4 2.5s infinite;
    -webkit-animation : vague4 2.5s infinite;
    animation-delay : 1.5s;
    -webkit-animation-delay : 1.5s;
}

@-webkit-keyframes vague4 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

@keyframes vague4 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

#vague5 {
    height : 5px;
    width : 5px;
    background-color : #886ed7;
    float : left;
    margin-left:10px;
    animation : vague5 2.5s infinite;
    -webkit-animation : vague5 2.5s infinite;
    animation-delay : 2s;
    -webkit-animation-delay : 2s;
}

@-webkit-keyframes vague5 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

@keyframes vague5 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

#vague6 {
    height : 5px;
    width : 5px;
    background-color : #886ed7;
    float : left;
    margin-left:10px;
    animation : vague6 2.5s infinite;
    -webkit-animation : vague6 2.5s infinite;
    animation-delay : 2.5s;
    -webkit-animation-delay : 2.5s;
}

@-webkit-keyframes vague6 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}

@keyframes vague6 {
    0% {height : 5px;}
    50% {height : 30px;}
    100% {height : 5px;}
}
/**    -----------DEBUT VAGUE  id=2-------------*/

/*------------flash id=3 -------------*/

.loader3 span {
    position:absolute;
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:100%;
    background:rgba(135, 211, 124,1);
    -webkit-animation:loader3 1.5s linear infinite;
    animation:loader3 1.5s linear infinite;
}
.loader3 span:last-child {
    animation-delay:-0.9s;
    -webkit-animation-delay:-0.9s;
}
@keyframes loader3 {
    0% {transform: scale(0, 0);opacity:0.8;}
    100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader3 {
    0% {-webkit-transform: scale(0, 0);opacity:0.8;}
    100% {-webkit-transform: scale(1, 1);opacity:0;}
}

/*------------flash id=3 ---------*/

/*  --------dot id=4---------*/

.loader1 {
    /*display:inline-block;*/
    font-size:0px;
    padding:0px;
}
.loader1 span {
    vertical-align:middle;
    border-radius:100%;

    display:inline-block;
    width:10px;
    height:10px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
}
.loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
    background:rgba(245, 103, 115,0.6);
}
.loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
    background:rgba(245, 103, 115,0.8);
}
.loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
    background:rgba(245, 103, 115,1);
}
/*.loader1 span:nth-child(4) {*/
    /*-webkit-animation-delay:-0.8s;*/
    /*animation-delay:-0.8s;*/
    /*background:rgba(245, 103, 115,0.8);*/

/*}*/
/*.loader1 span:nth-child(5) {*/
    /*-webkit-animation-delay:-1s;*/
    /*animation-delay:-1s;*/
    /*background:rgba(245, 103, 115,0.4);*/
/*}*/

@keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
}
@-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
}


/**    ----------dot id=4 ---------*/
.mask_parent {position:absolute;display:none;}
.mask{background:rgba(0,0,0,0.3);position: absolute;top:0;left:0;z-index: 998;width:100%;height:100%;opacity: 0.3;}
.mask_ani_layer{position:relative;z-index: 999;float:left;}
