<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" href="css/tree1.css"/>
    <title>树型组件</title>
</head>
<body>

<div id="tree" style="padding:10px;width:400px;">
    <label>{{title}}</label>
    <tree v-bind:items="tree.item" v-on:select-item="clickSelectItem" v-bind:tools="toolsList"></tree>
</div>

<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/vue.js" ></script>
<script src="js/tree1.js"></script>
<script>

    var lys_tree=new Vue({
            el: '#tree',
            data: {tree:
                /**
                 * items:{item:[{id:1,name:'公司名称',check:false,pid:0,layer:0,
                                    subItem:[{id:11,name:'部门1',check:true,pid:1,layer:1,
                                                    subItem:[{id:111,name:'子部门1',check:true,pid:11,layer:2,subItem:[{id:1111,name:'孙子部门1',check:true,pid:111,layer:3,subItem:[]}]},
                                             {id:112,name:'子部门2',check:false,pid:11,layer:2,subItem:[]}]},
                                {id:12,name:'部门2',check:true,pid:1,layer:1,subItem:[]}]}]},
                 */
                    {item:
                            [
                                {id:1,name:"公司名称",check:false,pid:0,layer:0,info:'20人',subItem:[]},
                                {id:11,name:"部门1",check:false,pid:1,layer:1,info:'10人',subItem:[]},
                                {id:111,name:"子部门1",check:true,pid:11,layer:2,info:'5人',subItem:[]},
                                {id:1111,name:"孙子部门1",check:true,pid:111,layer:3,info:'5人',subItem:[]},
                                {id:11111,name:"曾孙子部门1",check:true,pid:1111,layer:4,info:'5人',subItem:[]},
                                {id:112,name:"子部门2",check:false,pid:11,layer:2,info:'10人',subItem:[]},
                                {id:12,name:"部门2",check:true,pid:1,layer:1,info:'10人',subItem:[]}
                            ]
                    },
                abc:[],
                title:'树形组件',
                layerData:null,
                toolsList:[{id:1,info:'复制',src:'images/1.png'},{id:2,info:'删除',src:'images/2.png'}]
            },
            methods:{
                clickSelectItem:function(item){//单击条目，返回选择条目的本身及其子级
                    console.log('单击选择');
                    console.log(item);
                },
                checkMe:function(item){//点击check时，返回的数据
                    // console.log('选择的项');
                    // console.log(item);
                },
                toolsclick:function(id,item){//点击工具按钮，返回的数据
                    // console.log('tools'+id);
                    // console.log(item);
                }
            }
        }
    );

</script>
</body>
</html>