<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" href="css/tree1.css"/>
    <title>树型组件</title>
</head>
<body>

<div id="tree" style="margin:30px;padding:5px;width:300px;height:400px;overflow:auto;">
    <label>{{title}}</label>
    <tree style="width:400px;" ref="tree" v-bind:items="tree.item" v-bind:ifcheck="true" v-on:select-item="clickSelectItem" v-bind:tools="toolsList" v-on:toolclick="toolsClick"></tree>

</div>

<div style="margin-top:100px;width:200px;height:200px;overflow:auto;">
    <div style="display:inline-block;background-color: red;width:100%;height:100%;">
        <div>sdfsfsadfadfadfasdfasdfasfasdfafdadsafafafafsafdasf</div>
    </div>
</div>


<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/vue.js" ></script>
<script src="js/tree1.js"></script>
<script>

    var lys_tree=new Vue({
            el: '#tree',
            data: {tree:
                /**
                 * items:{item:[{id:1,name:'公司名称',check:false,pid:0,layer:0,
                                    subItem:[{id:11,name:'部门1',check:true,pid:1,layer:1,
                                                    subItem:[{id:111,name:'子部门1',check:true,pid:11,layer:2,subItem:[{id:1111,name:'孙子部门1',check:true,pid:111,layer:3,subItem:[]}]},
                                             {id:112,name:'子部门2',check:false,pid:11,layer:2,subItem:[]}]},
                                {id:12,name:'部门2',check:true,pid:1,layer:1,subItem:[]}]}]},
                 */
                    {item:
                            [
                                {id:1,name:"公司名称",check:false,pid:0,layer:0,info:'20人',subItem:[]},
                                {id:11,name:"部门1",check:false,pid:1,layer:1,info:'10人',subItem:[]},
                                {id:111,name:"子部门1",check:true,pid:11,layer:2,info:'5人',subItem:[]},
                                {id:1111,name:"孙子部门1",check:true,pid:111,layer:3,info:'5人',subItem:[]},
                                {id:11111,name:"曾孙子部门1",check:true,pid:1111,layer:4,info:'5人',subItem:[]},
                                {id:11112,name:"曾孙子部门2",check:true,pid:1111,layer:4,info:'5人',subItem:[]},
                                {id:111111,name:"曾孙子部门11",check:true,pid:11111,layer:5,info:'5人',subItem:[]},
                                {id:112,name:"子部门2",check:false,pid:11,layer:2,info:'10人',subItem:[]},
                                {id:12,name:"部门2",check:true,pid:1,layer:1,info:'10人',subItem:[]}
                            ]
                    },
                abc:[],
                title:'树形组件',
                layerData:null,
                toolsList:[{id:1,info:'复制',src:'glyphicon-save-file'},{id:2,info:'删除',src:'glyphicon-remove'}]
            },
            methods:{
                clickSelectItem:function(item){//单击条目，返回选择条目的本身及其子级
                    console.log('单击选择');
                    console.log(item);
                },
                toolsClick:function(id,item){//点击工具按钮，返回的数据
                     console.log('tools-click:'+id);
                     if (id==1){//添加
                         //console.log('add');
                         //item.subItem.push({id:13,name:"部门3",check:false,pid:item.pid,layer:item.layer+1,info:'0人',subItem:[]});
                     }

                },
                getTreeData:function(){
                   // this.$refs.tree.getTreeData();//所有节点数据
                   // this.$refs.tree.getTreeDataById(111);//根据id获取节点数据
                   // this.$refs.tree.addSameNode(111,113,'我一样新增的',false,'0人')
                   // this.$refs.tree.removeNode(113)
                   // this.$refs.tree.updateNodeData(114,'我一样新增的',true,'10人')
                   // this.$refs.tree.addChildNode(111,113,'我新增的',false,'0人')
                }
            }
        }
    );

</script>
</body>
</html>