.tree ul{
    padding-left:20px;
}
.tree li{
    font-size:14px;
    list-style:none;
    /*square inside url('../images/close.png');*/
    line-height: 28px;
}
.tree li input {
    margin-left:2px;
    margin-right:10px;
    vertical-align:middle;
    height:16px;
    width:16px;
}
.tree li div{
    display: inline;
}
.tree li div.turn{
    display:inline-block;
    margin-top:5px;
    float:left;
    width:18px;
    height:18px;
}
.tree li div.turn-open{
    display:inline-block;
    margin-top:5px;
    float:left;
    width:18px;
    height:18px;
    background: #ffffff url("../images/1.png") no-repeat;
}
.tree li div.turn-close{
    display:inline-block;
    margin-top:7px;
    float:left;
    width:18px;
    height:18px;
    background:#ffffff url("../images/2.png") no-repeat;
}
.tree li div.select-input{
    display:inline-block;
    margin-top:-3px;
    float:left;
    position:absolute;
}
.tree li div.info{
    display:inline-block;
    cursor: default;
    padding-left:25px;
}
.tree li div.info:hover{
    background-color: #eeeeee;
}
img.btn{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    opacity: 10;
}
img.btn:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 100;
}
.tree li div .checkUnconfirm{
    width:20px;
    height:20px;
    padding-left:6px;
    line-height:20px;
    color:#999;
    display: inline-block;
    position: absolute;
    top:5px;
    cursor:default;
}
.tree .hide{
    display:none;
}