.tree ul{
    padding-left:20px;
}
.tree li{
    font-size:14px;
    list-style:none;
    /*square inside url('../images/close.png');*/
    line-height: 28px;
}
.tree li input {
    margin-left:2px;
    margin-right:10px;
    vertical-align:middle;
    height:16px;
    width:16px;
}
.tree li div{
    display: inline;
}
.tree li div.turn{
    display:inline-block;
    margin-top:5px;
    float:left;
    width:18px;
    height:18px;
}
.tree li div.turn-open{
    display:inline-block;
    margin-top:5px;
    float:left;
    width:18px;
    height:18px;
    background: #ffffff url("../images/1.png") no-repeat;
}
.tree li div.turn-close{
    display:inline-block;
    margin-top:7px;
    float:left;
    width:18px;
    height:18px;
    background:#ffffff url("../images/2.png") no-repeat;
}
.tree li div.select-input{
    display:inline-block;
    margin-top:-3px;
    float:left;
    position:absolute;
}
.tree li div.info{
    display:inline-block;
    cursor: default;
    padding-left:25px;
    color:#000;

}

.tree li div.info:hover{
    background-color: #eeeeee;
}

.tree li div.info.select{
    color:#ffffff;
    background-color:#99CCFF;
}

.tree li div .checkUnconfirm {
    width: 20px;
    height: 20px;
    padding-left: 6px;
    line-height: 20px;
    color: #999;
    display: inline-block;
    position: absolute;
    top: 5px;
    cursor: default;
}
.tree li div .icon{
    width:20px;
    height:20px;
    padding-left:6px;
    line-height:20px;
    color:#999;
    display: inline-block;
    position: absolute;
    top:9px;
    cursor:default;
    background:#ffffff url("../images/parent.png") no-repeat;
    background-size: 16px 16px;
}
.tree li div .icon_child{
    width:20px;
    height:20px;
    padding-left:6px;
    line-height:20px;
    color:#999;
    display: inline-block;
    position: absolute;
    top:9px;
    cursor:default;
    background:#ffffff url("../images/child.png") no-repeat;
    background-size: 16px 16px;
}

.tree .hide{
    display:none;
}
.tree input[type=text].edit{
    width:100px;
    color:#23527c;
    border: 0 solid #ffffff;
    /*border-bottom:1px solid #2e6da4;*/
}